@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-webfont.eot');
    src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-webfont.woff') format('woff'),
         url('../fonts/bebasneue-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('../fonts/brando01-webfont.eot');
    src: url('../fonts/brando01-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brando01-webfont.woff2') format('woff2'),
         url('../fonts/brando01-webfont.woff') format('woff'),
         url('../fonts/brando01-webfont.ttf') format('truetype'),
         url('../fonts/brando01-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesqueblack';
    src: url('../fonts/brandogb-webfont.eot');
    src: url('../fonts/brandogb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandogb-webfont.woff2') format('woff2'),
         url('../fonts/brandogb-webfont.woff') format('woff'),
         url('../fonts/brandogb-webfont.ttf') format('truetype'),
         url('../fonts/brandogb-webfont.svg#brandon_grotesqueblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('../fonts/brandogm-webfont.eot');
    src: url('../fonts/brandogm-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandogm-webfont.woff2') format('woff2'),
         url('../fonts/brandogm-webfont.woff') format('woff'),
         url('../fonts/brandogm-webfont.ttf') format('truetype'),
         url('../fonts/brandogm-webfont.svg#brandon_grotesquemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brushtip-cbrushtip-c';
    src: url('../fonts/btctrial-webfont.eot');
    src: url('../fonts/btctrial-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/btctrial-webfont.woff2') format('woff2'),
         url('../fonts/btctrial-webfont.woff') format('woff'),
         url('../fonts/btctrial-webfont.ttf') format('truetype'),
         url('../fonts/btctrial-webfont.svg#brushtip-cbrushtip-c') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'epidemiatrial';
    src: url('../fonts/epidemia-webfont.eot');
    src: url('../fonts/epidemia-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/epidemia-webfont.woff2') format('woff2'),
         url('../fonts/epidemia-webfont.woff') format('woff'),
         url('../fonts/epidemia-webfont.ttf') format('truetype'),
         url('../fonts/epidemia-webfont.svg#epidemiatrial') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gustavblack';
    src: url('../fonts/gustav-black-webfont.eot');
    src: url('../fonts/gustav-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gustav-black-webfont.woff2') format('woff2'),
         url('../fonts/gustav-black-webfont.woff') format('woff'),
         url('../fonts/gustav-black-webfont.ttf') format('truetype'),
         url('../fonts/gustav-black-webfont.svg#gustavblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lumenharmaaregular';
    src: url('../fonts/lumenharmaa-webfont.eot');
    src: url('../fonts/lumenharmaa-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lumenharmaa-webfont.woff2') format('woff2'),
         url('../fonts/lumenharmaa-webfont.woff') format('woff'),
         url('../fonts/lumenharmaa-webfont.ttf') format('truetype'),
         url('../fonts/lumenharmaa-webfont.svg#lumenharmaaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'megeon_grungeregular';
    src: url('../fonts/megeon_grunge-webfont.eot');
    src: url('../fonts/megeon_grunge-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/megeon_grunge-webfont.woff2') format('woff2'),
         url('../fonts/megeon_grunge-webfont.woff') format('woff'),
         url('../fonts/megeon_grunge-webfont.ttf') format('truetype'),
         url('../fonts/megeon_grunge-webfont.svg#megeon_grungeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tall_filmsregular';
    src: url('../fonts/tall_film-webfont.eot');
    src: url('../fonts/tall_film-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tall_film-webfont.woff2') format('woff2'),
         url('../fonts/tall_film-webfont.woff') format('woff'),
         url('../fonts/tall_film-webfont.ttf') format('truetype'),
         url('../fonts/tall_film-webfont.svg#tall_filmsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}