/*

Fonts

- bebas_neuebold
- bebas_neueregular
- brandon_grotesquebold
- brandon_grotesqueblack
- brandon_grotesquemedium
- brushtip-cbrushtip-c
- epidemiatrial
- gustavblack
- lumenharmaaregular
- megeon_grungeregular

*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*  */
.none { display: none; }
.block { display: block; }

.bodybgPreto { background: #000; }
.bodybgLuka { background: #ff1651; }
.bodybgBranco { background: #FFF; }
.bodybgVerdinho { background: #00ff96; }
.bodybgVerdeMusgu { background: #56584e; }
.bodybgMarrom { background: #634744; }
.bodybgLaranja { background: #c84f00; }
.bodybgMarromDiferente { background: #b76d4c; }

.container { padding: 0 5%; }

/* capa */
.logoCapa { position: absolute; top: 3%; padding: 0 5%; z-index: 9999; }

#slider { position: relative; z-index: 1; width: 100%; height: 100%; top: 0; }
#slider li { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; filter:alpha(opacity=0);}
.ativo {opacity: 1!important; filter:alpha(opacity=100)!important;}

#slider li div { position: absolute; top: 0; width: 100%; height: 100%; }

#figure { position: relative; overflow: hidden; }
#figure hgroup { position: absolute; bottom: 3%; left: 0; z-index: 5 }

.slash { position: absolute; bottom: 3%; left: 0; color: #FFF; padding: 0 5%; }
.slash h2 { font-size: 50px; font-family: 'epidemiatrial'; padding: 0; margin: 0; text-transform: uppercase; line-height: 100%; text-shadow: 3px 3px 5px rgba(0,0,0,0.75); }
.slash h3 { font-size: 22px; font-family: 'bebas_neuebold'; padding: 0; margin: 0; text-transform: uppercase; text-shadow: 1px 1px 2px rgba(0,0,0,0.75); }

.kiss { position: absolute; bottom: 3%; right: 0; color: #FFF; padding: 0 5%; text-align: right; }
.kiss h2 { font-size: 50px; font-family: 'gustavblack'; padding: 0; margin: 0; line-height: 100%; text-shadow: 3px 3px 5px rgba(0,0,0,0.75); }
.kiss h3 { font-size: 22px; font-family: 'bebas_neuebold'; padding: 0; margin: 0; text-transform: uppercase; text-shadow: 1px 1px 2px rgba(0,0,0,0.75); }

.aerosmith { position: absolute; bottom: 3%; left: 0; color: #FFF; padding: 0 5%; }
.aerosmith h2 { font-size: 35px; font-family: 'megeon_grungeregular'; padding: 0; margin: 0; text-transform: uppercase; line-height: 100%; text-shadow: 3px 3px 5px rgba(0,0,0,0.75); }
.aerosmith h3 { font-size: 22px; font-family: 'bebas_neuebold'; padding: 0; margin: 0; text-transform: uppercase; text-shadow: 1px 1px 2px rgba(0,0,0,0.75); }

.acdc { position: absolute; bottom: 3%; right: 0; color: #FFF; padding: 0 5%; text-align: right; }
.acdc h2 { font-size: 40px; font-family: 'bebas_neuebold'; padding: 0; margin: 0; line-height: 100%; text-shadow: 3px 3px 5px rgba(0,0,0,0.75); }
.acdc h2 span { color: #ed1c24; }
.acdc h3 { font-size: 22px; font-family: 'bebas_neuebold'; padding: 0; margin: 0; text-transform: uppercase; text-shadow: 1px 1px 2px rgba(0,0,0,0.75); }

@media screen and (min-width: 767px) {
	.slash h2 { font-size: 70px;  }
	.slash h3 { font-size: 35px;  }
	.kiss h2 { font-size: 70px;  }
	.kiss h3 { font-size: 35px;  }
	.aerosmith h2 { font-size: 55px;  }
	.aerosmith h3 { font-size: 35px;  }
	.acdc h2 { font-size: 65px;  }
	.acdc h3 { font-size: 35px;  }
}

/* colunas */
#topoColunas { position: relative; }
.logoColunas { position: absolute; top: 3%; left: 5%; z-index: 9999; max-width: 90%; }
.imgPrincipal { position: absolute; top: 0; width: 100%; height: 100%; }
.titulo { position: absolute; bottom: 0; left: 5%; width: 90%; padding: 60% 0 0 0; }
.tituloFelipe { background: url('../img/colunas/setinha-coluna-felipe.png') bottom left no-repeat; background-size: 100%; }
.tituloFernanda { background: url('../img/colunas/setinha-coluna-fernanda.png') bottom left no-repeat; background-size: 100%; }
.tituloMrossi { background: url('../img/colunas/setinha-coluna-mrossi.png') bottom left no-repeat; background-size: 100%; }
.tituloLuka { background: url('../img/colunas/setinha-coluna-luka.png') bottom left no-repeat; background-size: 100%; }

.titulo h2 { font-size: 40px; margin: 0; padding: 3% 4% 19% 4%; text-transform: uppercase; font-family: 'bebas_neuebold'; line-height: 100%;text-shadow: 3px 3px 5px rgba(0,0,0,0.75); }
@media screen and (min-width: 767px) {
	.titulo h2 { font-size: 90px; }
}

.tituloFelipe h2 { color: #f26522; }
.tituloFernanda h2 { color: #ffc600; }
.tituloMrossi h2 { color: #EAFF00; }
.tituloLuka h2 { color: #ff1651; }

.bgPreto { padding-top: 5%; background: #030200; padding-bottom: 1px; }
.bgLuka { padding-top: 5%; background: #ff1651; padding-bottom: 1px; }
.bgVerdeFundo { padding-top: 5%; background: url('../img/arquivo-do-rock/bg_texto.jpg') #3C8558 center center no-repeat; background-size: cover; padding-bottom: 1px; }
.bgVerde { padding-top: 5%; background: #3C8558; padding-bottom: 1px; }

.conteudo { width: 90%; margin: 10% auto 10% auto; color: #FFF; }
.conteudo p { font-size: 20px; }
.conteudo h3 { font-size: 20px; font-style: italic; margin: 5% 0; }
@media screen and (min-width: 767px) {
	.conteudo p { font-size: 34px; }
	.conteudo h3 { font-size: 34px; }
}

.conteudoFelipe { background: url('../img/colunas/setinha-coluna-felipe.png') bottom left no-repeat; background-size: 100%; }
.conteudoFernanda { background: url('../img/colunas/setinha-coluna-fernanda.png') bottom left no-repeat; background-size: 100%; }
.conteudoMrossi { background: url('../img/colunas/setinha-coluna-mrossi.png') bottom left no-repeat; background-size: 100%; }
.conteudoLuka { background: url('../img/colunas/setinha-coluna-luka.png') bottom left no-repeat; background-size: 100%; }
.conteudo .box_texto { padding: 10% 5% 20% 5%; }
.conteudo .texto { height: 380px; overflow: auto; padding-right: 30px; font-family: 'brandon_grotesquemedium'; text-align: justify; background: url('../img/seta-texto.png') top right no-repeat; background-size: 15px;  }
.conteudo .texto p { margin: 0; line-height: 126%; }

.box_facebook { width: 90%; margin: 10% auto; }
.bgBranco { background: #FFF; text-align: center; }

footer { margin-bottom: 5%; }

/* arquivo do rock */
.tituloQueen { position: absolute; bottom: 4%; left: 5%; width: 90%; padding: 60% 0 0 0; color: #FFF; }
.tituloQueen h2 { margin-bottom: -40px; }
.tituloQueen h2 img { max-width: 500px; }
.tituloQueen h3 { font-size: 40px;  font-family: 'bebas_neuebold';text-shadow: 3px 3px 5px rgba(0,0,0,0.75); }
.tituloQueen h3 span { font-size: 30px; display: block; }
.tituloQueen p { font-size: 16px; font-family: 'brandon_grotesquemedium';text-shadow: 3px 3px 5px rgba(0,0,0,0.75); }

@media screen and (min-width: 767px) {
	.tituloQueen h2 { margin-bottom: -60px; }
	.tituloQueen h3 { font-size: 60px;  font-family: 'bebas_neuebold';text-shadow: 3px 3px 5px rgba(0,0,0,0.75); }
	.tituloQueen h3 span { font-size: 50px; display: block; }
	.tituloQueen p { font-size: 30px; }
}

.bordBranca { border: 10px solid #FFF; margin-top: -10px; }

.box_itunes { overflow: hidden; position: relative; }
.box_itunes .iframeItunes { width: 100%; }
.box_itunes .titleItunes { width: 100%;  }
.box_itunes .fotoItunes { width: 100%;  }
.box_itunes h3 { font-style: normal; font-family: 'bebas_neuebold'; }
.box_itunes h3 span { display: block; text-transform: uppercase; }

@media screen and (min-width: 767px) {
	.box_itunes { margin-top: 5%; }
	.box_itunes .iframeItunes { float: left; width: 50%; }
	.box_itunes .titleItunes { position: absolute; bottom: 0; right: 0; float: right; width: 45%; }
	.box_itunes .fotoItunes { float: right; width: 38%; }
}

.titleLuana { font-style: normal !important; text-transform: uppercase; font-family: 'bebas_neuebold'; font-size: 30px !important; }

@media screen and (min-width: 767px) {
	.titleLuana { font-size: 50px !important; }

}

/* born to be wild */
.boxChamadaBorn { position: absolute; bottom: 40px; left: 0; width: 100%; padding: 0; }
.boxChamadaBorn .tituloBron { color: #fff; font-family: 'gustavblack'; text-align: center; font-size: 45px; -webkit-transform: rotate(-7deg); -moz-transform: rotate(-7deg); -ms-transform: rotate(-7deg); -o-transform: rotate(-7deg); line-height: 90%; margin-bottom: 45%; }
.boxChamadaBorn .chamadaBron { background: url(../img/born-to-be-wild/bg_chamadaBron.png); padding: 2% 5%; -moz-transform: rotate(-7deg) skewX(-7deg); -webkit-transform: rotate(-7deg) skewX(-7deg); -o-transform: rotate(-7deg) skewX(-7deg); -ms-transform: rotate(-7deg) skewX(-7deg); transform: rotate(-7deg) skewX(-7deg); }
.boxChamadaBorn .chamadaBron p { color: #fff; font-family: 'bebas_neuebold'; font-size: 20px; }
.boxChamadaBorn .assBron { color: #fff; text-transform: uppercase; font-family: 'brandon_grotesquebold'; -webkit-transform: rotate(-7deg); -moz-transform: rotate(-7deg); -ms-transform: rotate(-7deg); -o-transform: rotate(-7deg); float: right; padding-right: 5%; line-height: 100%; font-size: 10px; }

#historiaCaito { position: relative; }
#historiaCaito img 	{ width: 100%; height: auto; display: block; }
#historiaCaito .boxCaito { position: absolute; left: 5%; bottom: 5%; width: 90%; }
#historiaCaito .boxCaito h2 { color: #fff; text-transform: uppercase; font-family: 'gustavblack'; font-size: 50px; line-height: 70%; -webkit-transform: rotate(-7deg); -moz-transform: rotate(-7deg); -ms-transform: rotate(-7deg); -o-transform: rotate(-7deg);}
#historiaCaito .boxCaito .boxTextoCaito { background: url(../img/born-to-be-wild/bg_chamadaBron.png); height: 135px; display: block; padding: 10% 5%; }
#historiaCaito .boxCaito .boxTextoCaito .textoCaito { padding-right: 30px; background: url('../img/seta-texto.png') top right no-repeat; background-size: 15px; height: 100px; overflow: auto; }
#historiaCaito .boxCaito .boxTextoCaito .textoCaito h3 { font-size: 23px; color: #fff; font-family: 'brandon_grotesquemedium'; text-transform: uppercase; line-height: 100%; }
#historiaCaito .boxCaito .boxTextoCaito .textoCaito p { font-size: 20px; color: #fff; font-family: 'brandon_grotesquemedium'; line-height: 100%; margin-bottom: 20px; }

#galeria img { width: 100%; height: auto; display: block; }

#boxTextoGaleria { background: url(../img/born-to-be-wild/bg_texto_galeria.jpg) top center; background-size: 100%; padding: 5%; }
#boxTextoGaleria h2 { color: #fff; text-transform: uppercase; font-family: 'gustavblack'; font-size: 35px; margin-bottom: 30px; }
#boxTextoGaleria .TextoGaleria { padding-right: 30px; background: url('../img/seta-texto.png') top right no-repeat; background-size: 15px; height: 300px; overflow: auto;}
#boxTextoGaleria .TextoGaleria h3 { font-size: 23px; color: #fff; font-family: 'brandon_grotesquemedium'; text-transform: uppercase; line-height: 100%; }
#boxTextoGaleria .TextoGaleria p { font-size: 20px; color: #fff; font-family: 'brandon_grotesquemedium'; line-height: 100%; margin-bottom: 20px; }

@media screen and (min-width: 767px) {
	.boxChamadaBorn { bottom: 100px;}
	.boxChamadaBorn .tituloBron { font-size: 95px; margin-bottom: 55%; }
	.boxChamadaBorn .chamadaBron p { font-size: 33px; }
	#historiaCaito .boxCaito h2 { font-size: 100px; }
	#historiaCaito .boxCaito .boxTextoCaito { height: 300px; }
	#historiaCaito .boxCaito .boxTextoCaito .textoCaito { height: 210px; }
	#boxTextoGaleria { margin-top: -50px; }
	#boxTextoGaleria h2 { width: 70%; font-size: 38px; margin-top: -30px; }
}

/* diario89 */
.bgBordoVerde { padding-bottom: 35%; background: url('../img/diario89/bg-bordo-verde.jpg') #67031d bottom center no-repeat; background-size: 100%; }
.bgBordoVerde { background: url('../img/diario89/bg-bordo-verde.jpg') #67031d bottom center no-repeat; background-size: 100%; margin-top: -1px; padding-bottom: 10%; }
.bgVerdinho { background: #00ff96; margin-top: -1px; }

.boxConteudo01 { color: #FFF; margin-bottom: 10%; }
.boxConteudo01 p span { font-size: 12px; font-family: 'brandon_grotesquemedium'; }
.boxConteudo01 h2 { font-size: 30px; text-transform: uppercase; font-family: 'bebas_neuebold'; line-height: 110%; margin-bottom: 6%; color: #80ed8a; }
.boxConteudo01 h2 span { font-size: 50px; display: block; }

.boxConteudo01 .cont { overflow: hidden; }
.boxConteudo01 .contScroll { width: 100%; height: 300px; overflow: auto; margin-bottom: 20px; padding-right: 30px; background: url('../img/seta-texto.png') top right no-repeat; background-size: 5%; }
.boxConteudo01 .contScroll p { font-size: 20px; font-family: 'brandon_grotesquemedium'; line-height: 125%; text-align: justify; }
.boxConteudo01 .contImgs { width: 100%; margin: 0 auto; }
.boxConteudo01 .contImgs img { float: left; width: 48%; margin: 0 1% 5% 1%; }

.boxConteudo02 { color: #FFF; margin-bottom: 10%; }
.boxConteudo02 p span { font-size: 12px; font-family: 'brandon_grotesquemedium'; color: #80ed8a; }
.boxConteudo02 h2 { font-size: 22px; text-transform: uppercase; font-family: 'bebas_neuebold'; line-height: 150%; margin-bottom: 6%; color: #00a99d; }
.boxConteudo02 h2 span { font-size: 50px; display: block; color: #80ed8a; }

.boxConteudo02 .imgDestaque { margin-bottom: 5%; }

.boxConteudo02 .cont { overflow: hidden; }
.boxConteudo02 .contScroll { width: 100%; height: 300px; overflow: auto; margin-bottom: 20px; padding-right: 30px; background: url('../img/seta-texto.png') top right no-repeat; background-size: 5%; }
.boxConteudo02 .contScroll p { font-size: 20px; font-family: 'brandon_grotesquemedium'; line-height: 125%; text-align: justify; }
.boxConteudo02 .contImgs { width: 100%; margin: 0 auto; }
.boxConteudo02 .contImgs img { float: left; width: 48%; margin: 0 1% 2% 1%; }

.boxConteudo03 { color: #000; }
.boxConteudo03 p span { font-size: 12px; font-family: 'brandon_grotesquemedium'; color: #000; }
.boxConteudo03 h2 { font-size: 30px; text-transform: uppercase; font-family: 'bebas_neuebold'; line-height: 120%; margin-bottom: 6%; color: #000; }
.boxConteudo03 h2 span { font-size: 40px; display: block; color: #a80812; }

.boxConteudo03 .cont { overflow: hidden; }
.boxConteudo03 .contScroll { width: 100%; height: 300px; overflow: auto; margin-bottom: 20px; padding-right: 30px; background: url('../img/seta-texto2.png') top right no-repeat; background-size: 5%; }
.boxConteudo03 .contScroll p { font-size: 20px; font-family: 'brandon_grotesquemedium'; line-height: 125%; text-align: justify; }
.boxConteudo03 .contImgs { width: 100%; margin: 0 auto; }
.boxConteudo03 .contImgs img { float: left; width: 48%; margin: 0 1% 2% 1%; }


@media screen and (min-width: 767px) {
	.boxConteudo01 p span { font-size: 18px;  }
	.boxConteudo01 h2 { font-size: 50px; line-height: 110%; }
	.boxConteudo01 h2 span { font-size: 80px; }
	.boxConteudo01 .contScroll { float: left; width: 65%; overflow: auto; }
	.boxConteudo01 .contImgs { float: right; width: 30%; }
	.boxConteudo01 .contImgs img { float: none; width: 100%; margin: 0 0 5% 0;  }

	.boxConteudo02 p span { font-size: 18px; }
	.boxConteudo02 h2 { font-size: 50px; line-height: 110%; }
	.boxConteudo02 h2 span { font-size: 80px; }
	.boxConteudo02 .contScroll { float: left; width: 65%; height: 450px; overflow: auto; }
	.boxConteudo02 .contImgs { float: right; width: 30%; }
	.boxConteudo02 .contImgs img { float: none; width: 100%; margin: 0 0 5% 0;  }

	.boxConteudo03 p span { font-size: 18px; }
	.boxConteudo03 h2 { font-size: 50px; line-height: 110%; }
	.boxConteudo03 h2 span { font-size: 80px; }
	.boxConteudo03 .contScroll { float: left; width: 65%; height: 480px; overflow: auto; }
	.boxConteudo03 .contImgs { float: right; width: 30%; }
	.boxConteudo03 .contImgs img { float: none; width: 100%; margin: 0 0 5% 0;  }
}
/* galeria */
#topoGaleria { margin: 0 5%; }
#topoGaleria .logoGaleria { max-width: 100%; margin: 3% 0 20%;  }
#topoGaleria h2 { text-transform: uppercase;  color: #000; font-family: 'bebas_neuebold'; line-height: 100%; font-size: 25px; margin-bottom: 5px; }
#topoGaleria h2 span { display: block; font-size: 40px; }
#topoGaleria p { text-transform: uppercase;  color: #000; font-family: 'bebas_neuebold'; font-size: 20px; }
#topoGaleria small { text-transform: uppercase; color: #000; font-family: 'bebas_neuebold'; display: block; margin-bottom: 20%; }

#sliderGaleria { position: relative; z-index: 1; width: 75%; margin: 0 auto;  }
#sliderGaleria a { position: absolute; top: 0; left: 0; opacity: 0;filter:alpha(opacity=0);  }
#sliderGaleria img { width: 100%; height: auto; display: block; border: 1px solid #000; box-shadow: 3px 3px 3px #000; }
.ativo { opacity: 1!important; filter:alpha(opacity=100)!important;}
#boxGaleria span { color: #000; cursor: pointer; position: absolute; bottom: 40%; width: 43px; height: 43px; z-index: 5; }
.next { right: 10px; }
.next:before,.next:after { right: 0; }
.next:before { -webkit-transform: rotate(-42deg); top: 5px; }
.next:after { -webkit-transform: rotate(-132deg); top: 19px; }
.next:before,.next:after,.prev:before,.prev:after { content: ""; height: 20px; background: #000; width: 1px; position: absolute; }
.prev { left: 10px; }
.prev:before,.prev:after { left: 0; }
.prev:before { -webkit-transform: rotate(42deg); top: 5px; }
.prev:after { -webkit-transform: rotate(132deg); top: 19px; }
#boxGaleria:hover span { opacity: 0.76;filter:alpha(opacity=76); }
#boxGaleria { max-width: 937px; position: relative; overflow: hidden; margin: 50px auto; }

.boxFernanda { width: 100%; position: relative; }
.boxFernanda img { width: 100%; height: auto; display: block; }
.textoFernanda { background: url(../img/galeria/bg_box_entrevista.png); position: absolute; bottom: 20px; left: 0;padding: 5%; }
.textoFernanda article { height: 200px; overflow: auto; padding-right: 30px; font-family: 'brandon_grotesquemedium'; text-align: justify; background: url('../img/seta-texto.png') top right no-repeat; background-size: 15px;  }
.textoFernanda article h2 { font-size: 23px; color: #fff; font-family: 'brandon_grotesquemedium'; text-transform: uppercase; line-height: 100%; }
.textoFernanda article p { font-size: 20px; color: #fff; font-family: 'brandon_grotesquemedium'; line-height: 100%; margin-bottom: 20px; }
.imgFernanda { margin: 0; }
.imgFernanda img { width: 100%; height: auto; display: block; }

.bgRoxo { background: #3a2430; }
.videoWrapper { margin: -60px 5% 5px; position: relative; padding-bottom: 56.25%; /* 16:9 */ padding-top: 25px; height: 0; }
.videoWrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.iconVideo { display: block; float: right; padding-right: 5%; width: 10%; margin-bottom: 20px; }

@media screen and (min-width: 767px) {
	#topoGaleria .logoGaleria { margin-top: 5%; }
	#topoGaleria h2 { font-size: 50px; }
	#topoGaleria h2 span { font-size: 80px; }
	#topoGaleria p { font-size: 35px; }
	#topoGaleria small { font-size: 20px; }
	.textoFernanda article { height: 320px; }
	.galeria #prev a, .galeria #next a { margin-top: 230px; }
}

/* headbanger */
.bgHeadbanger { background: url('../img/headbanger/bg-headbanger.jpg') top center no-repeat; background-size: 120%; padding-top: 1px; margin-bottom: 15%; }
.logoHeadbanger { margin: 4% 0; }
.logoWikimetal { width: 70%; margin: 0 auto 5% auto; display: block; }

.boxHeadbanger01 {  }
.boxHeadbanger01 h2 { font-family: 'bebas_neuebold'; font-size: 45px; color: #c36008; }
.boxHeadbanger01 h3 { font-family: 'bebas_neuebold'; font-size: 22px; color: #FFF; margin-bottom: 15px; }
.boxHeadbanger01 h3 span { display: block; }

.boxHeadbanger01 .galeriaHeadbanger { }
.boxHeadbanger01 .galeriaHeadbanger .fotoGrande { width: 100%; border: 1px solid #FFF; margin-bottom: 10px; }
.boxHeadbanger01 .galeriaHeadbanger .fotoGrande img { width: 100%; }
.boxHeadbanger01 .galeriaHeadbanger .thumbs { width: 100%; padding: 4% 2%; background: #993c0a; overflow: hidden; list-style: none; }
.boxHeadbanger01 .galeriaHeadbanger .thumbs li { float: left; width: 21%; margin: 0 2%; }
.boxHeadbanger01 .galeriaHeadbanger .thumbs li img { width: 100%; }

.boxHeadbanger01 .textoHead { width: 100%; height: 300px; overflow: auto; color: #FFF; margin: 5% 0; padding-right: 30px; background: url('../img/seta-texto.png') top right no-repeat; background-size: 5%; }
.boxHeadbanger01 .textoHead p { font-size: 20px; font-family: 'brandon_grotesquemedium'; line-height: 125%; text-align: justify; }

.boxHeadbanger02 { text-align: right; }
.boxHeadbanger02 h2 { font-family: 'bebas_neuebold'; font-size: 45px; color: #c36008; }
.boxHeadbanger02 h3 { font-family: 'bebas_neuebold'; font-size: 22px; color: #FFF; margin-bottom: 15px; }
.boxHeadbanger02 h3 span { display: block; }

.boxHeadbanger02 .galeriaHeadbanger { }
.boxHeadbanger02 .galeriaHeadbanger .fotoGrande { width: 100%; border: 1px solid #FFF; margin-bottom: 10px; }
.boxHeadbanger02 .galeriaHeadbanger .fotoGrande img { width: 100%; }
.boxHeadbanger02 .galeriaHeadbanger .thumbs { width: 100%; padding: 4% 2%; background: #993c0a; overflow: hidden; list-style: none; }
.boxHeadbanger02 .galeriaHeadbanger .thumbs li { float: left; width: 21%; margin: 0 2%; }
.boxHeadbanger02 .galeriaHeadbanger .thumbs li img { width: 100%; }

.boxHeadbanger02 .textoHead { width: 100%; height: 300px; overflow: auto; color: #FFF; margin: 5% 0; padding-right: 30px; background: url('../img/seta-texto.png') top right no-repeat; background-size: 5%; }
.boxHeadbanger02 .textoHead p { font-size: 20px; font-family: 'brandon_grotesquemedium'; line-height: 125%; text-align: justify; }

@media screen and (min-width: 767px) {
	.boxHeadbanger01 .textoHead { background-size: 3%; }
	.boxHeadbanger01 h2 { font-size: 60px; }
	.boxHeadbanger01 h3 { font-size: 35px; }

	.boxHeadbanger02 .textoHead { background-size: 3%; }
	.boxHeadbanger02 h2 { font-size: 60px; }
	.boxHeadbanger02 h3 { font-size: 35px; }
}

/* high heels */
.logoHighheels { margin: 4% 0; }

.bgHighHeels01 { background: url('../img/high-heels/bg-highheels-01.jpg') center center repeat-y; background-size: 100%; padding-bottom: 20px; }
.bgHighHeels02 { background: url('../img/high-heels/bg-highheels-02.jpg') center center repeat-y; background-size: 100%; border: 15px solid #000; padding: 5% 0; }

.boxHighheels h2 { color: #FFF; font-family: 'bebas_neuebold'; font-size: 30px; line-height: 100%; }
.boxHighheels h2 span { color: #00ffff; display: block; font-size: 45px; line-height: 95%; }
.boxHighheels h3 { color: #FFF; font-family: 'bebas_neuebold'; font-size: 22px; margin-bottom: 10px; }
.boxHighheels h3 span { }
.boxHighheels p { color: #FFF; font-family: 'brandon_grotesquemedium';  }
.boxHighheels p span { font-size: 15px; display: block; margin-bottom: 30px; }

.boxHighheels .textoHighheels { width: 100%; height: 180px; overflow: auto; color: #FFF; margin: 5% 0; padding-right: 30px; background: url('../img/seta-texto.png') top right no-repeat; background-size: 5%; }
.boxHighheels .textoHighheels p { font-size: 20px; font-family: 'brandon_grotesquemedium'; line-height: 125%; text-align: justify; }

.boxesBandas .banda { margin-bottom: 20px; }
.boxesBandas figure { position: relative; overflow: hidden; }
.boxesBandas figure img { display: block; }
.boxesBandas figure .textoBanda { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 3% 3%; background: rgba(0,255,255,0.8); font-size: 16px; line-height: 120%; text-align: justify; font-family: 'brandon_grotesquemedium';  overflow: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
.boxesBandas figcaption { color: #FFF; font-family: 'brandon_grotesquemedium'; font-size: 12px; }

@media screen and (min-width: 767px) {
	.boxHighheels h2 {  font-size: 60px; line-height: 100%; }
	.boxHighheels h2 span { font-size: 90px; line-height: 95%; }
	.boxHighheels h3 { font-size: 45px; }
	.boxHighheels p span { font-size: 20px; display: block; margin-bottom: 60px; }
	.boxHighheels .textoHighheels { background-size: 0%; height: 380px }
	.boxHighheels .textoHighheels p { font-size: 30px; }

	.boxesBandas figure .textoBanda { font-size: 30px; line-height: 150%; }
	.boxesBandas figcaption { font-size: 18px; }
}

/* microfone - camisa de venus */
.boxTextoMarcelo { background: #303539; }
.boxTextoMarcelo small { color: #fc8679; text-align: right; display: block; font-family: 'brandon_grotesquebold'; font-size: 11px; }
.boxTextoMarcelo h2 { color: #fc8679; font-size: 43px; width: 100%; text-align: right; float: right; margin-bottom: 10px; font-family: 'bebas_neuebold'; font-weight: normal;}
.boxTextoMarcelo h3 { font-family: 'bebas_neuebold'; clear: both;  color: #fc8679; font-size: 23px; font-weight: normal; margin-bottom: 20px; }
.textoMarcelo { height: 380px; overflow: auto; padding-right: 30px; font-family: 'brandon_grotesquemedium'; text-align: justify; background: url('../img/seta-texto.png') top right no-repeat; background-size: 15px; margin-bottom: 60px; }
.textoMarcelo h4 { color: #fff; font-weight: normal; }
.textoMarcelo p { color: #fff; margin-bottom: 20px; }
.textoMarcelo h4 strong, .textoMarcelo p span { color: #fc8679; }

.videoMarcelo { margin-bottom: -40px; }
.imgMarcelo img { width: 100%; height: auto; display: block; }

/* mircrofone - kiko loureiro */
.tituloKiko { position: absolute; bottom: 4%; left: 5%; width: 90%; padding: 60% 0 0 0; color: #FFF; }
.tituloKiko h2 { font-family: 'epidemiatrial'; font-size: 90px; letter-spacing: 5px; text-transform: uppercase; text-shadow: 5px 5px 10px #000; }
.tituloKiko h3 { font-family: 'bebas_neuebold'; font-size: 36px; text-transform: uppercase; text-shadow: 5px 5px 10px #000; }
.tituloKiko p { font-family: 'brandon_grotesquemedium'; text-transform: uppercase; font-size: 12px; text-shadow: 5px 5px 10px #000; }

.boxTextoKiko { background: url(../img/microfone-kiko-loureiro/bg_texto_kiko.jpg) #49212a top center no-repeat; padding: 5%; background-size: 100%; border-bottom: 10px solid #fff; }
.boxTextoKiko .textoKiko { height: 380px; overflow: auto; padding-right: 30px; background: url('../img/seta-texto.png') top right no-repeat; background-size: 15px; margin-bottom: 30px; }
.boxTextoKiko .textoKiko p { font-family: 'brandon_grotesquemedium'; text-align: justify; color: #fff; font-size: 20px; }
.boxTextoKiko img { width: 100%; height: auto; display: block; }

.galeriaKiko .fotoGrande { border-bottom: 10px solid #fff; }
.galeriaKiko .fotoGrande img { width: 100%; height: auto; display: block; }
.galeriaKiko .boxThumb { background: url(../img/microfone-kiko-loureiro/bg_thumbs.jpg) top center no-repeat #49212a; background-size: 100%; overflow: hidden; padding-top: 20px; }
.galeriaKiko .thumbs { width: 70%; float: left; height: 77px; overflow: hidden; margin: 0 0 30px; }
.galeriaKiko .thumbs div { width: 3000px; }
.galeriaKiko .thumbs li { float: left; width: 46%; margin: 0 2%; height: auto; display: block; }
.galeriaKiko .thumbs li img { width: 100%; height: auto; display: block; }
.galeriaKiko #prevThumb { width: 15%; height: 85px; display: block; float: left; background: url(../img/microfone-kiko-loureiro/arrow_left.png) no-repeat left; background-size: 20%; }
.galeriaKiko #nextThumb { width: 15%; height: 85px; display: block; float: left; background: url(../img/microfone-kiko-loureiro/arrow_right.png) no-repeat right; background-size: 20%; }

@media screen and (min-width: 767px) {
	.tituloKiko h2 { font-size: 150px; }
	.tituloKiko h3 { font-size: 80px; }
	.tituloKiko p { font-size: 22px; }
	.boxTextoKiko .textoKiko p { font-size: 29px; }
	.galeriaKiko .thumbs { height: 85px; margin-bottom: 220px; }
	.galeriaKiko .thumbs li { width: 20%; }
}

/* microfone faith no more */
.logoMicrofone { margin: 4% 0; }

.bgMicFaith01 { background: url('../img/microfone-faith-no-more/bg-faith-01.jpg') top center no-repeat; background-size: 100%; padding-bottom: 20px; padding-top: 1px; }
.bgMicFaith02 { background: url('../img/microfone-faith-no-more/bg-faith-02.jpg') #000 bottom center no-repeat; background-size: 100%; padding-top: 10%; padding-bottom: 10%; }

.boxFaith01 { margin-top: 30px; }
.boxFaith01 h2 { font-size: 22px; font-family: 'bebas_neuebold'; color: #004a80; text-align: justify; }
.boxFaith01 img { margin-bottom: 20px; display: block; }

.boxFaith02 .textoFaith { margin-bottom: 60%; }
.boxFaith02 .videoFaith { margin-bottom: 80%; }
.textoFaith { width: 100%; height: 400px; overflow: auto; color: #FFF; margin: 5% 0; padding-right: 30px; background: url('../img/seta-texto.png') top right no-repeat; background-size: 5%; }
.textoFaith p { font-size: 20px; font-family: 'brandon_grotesquemedium'; line-height: 125%; text-align: justify; }

@media screen and (min-width: 767px) {

	.boxFaith01 h2 { font-size: 35px; }
	.textoFaith { background-size: 3%; }
	.textoFaith p { font-size: 30px; }

	.boxFaith02 .itunesFaith { width: 40%; margin: 10% auto; }


}

/* microfone of monster and men */
.bgMicMonster .logoMicrofone { position: absolute; top: 0; left: 0; padding: 0 5%; }
.bgMicMonster { position: relative; background: url('../img/microfone-of-monster-and-men/bg-monster-01.jpg') bottom center no-repeat; background-size: 100%; padding-bottom: 10%; }

.boxMonster01 { margin: 5% 0; }
.boxMonster01 p { font-size: 20px; font-family: 'bebas_neuebold'; color: #ec9043; text-align: justify; }
.boxMonster01 p span { font-size: 12px; color: #FFF; font-family: 'brandon_grotesquemedium'; }
.boxMonster01 h2 { font-size: 40px; font-family: 'bebas_neuebold'; color: #ec9043; line-height: 100%; }
.boxMonster01 h2 span { font-size: 30px; display: block; color: #00b1ad; line-height: 100%; margin-bottom: 3%;  }

.boxMonster02 { padding: 10% 0; }
.boxMonster02 .textoMonster { width: 100%; height: 300px; overflow: auto; margin: 5% 0 20% 0; padding-right: 30px; background: url('../img/seta-texto.png') top right no-repeat; background-size: 5%; }
.boxMonster02 h2 { font-size: 30px; font-family: 'bebas_neuebold'; color: #ec9043; line-height: 100%; }
.boxMonster02 p { color: #FFF; font-size: 20px; font-family: 'brandon_grotesquemedium'; line-height: 125%; text-align: justify; }

@media screen and (min-width: 767px) {

	.boxMonster01 p { font-size: 30px; }
	.boxMonster01 p span { font-size: 18px; }
	.boxMonster01 h2 { font-size: 70px; }
	.boxMonster01 h2 span { font-size: 50px; }


	.boxMonster02 { padding: 5% 0; }
	.boxMonster02 .textoMonster { background-size: 3%; }
	.boxMonster02 h2 { font-size: 50px; }
	.boxMonster02 p { font-size: 30px; }

	.boxMonster03 .itunesMonster { width: 40%; margin: 0 auto; }
}

/* microfone - lobão */
.tituloLobao { position: absolute; bottom: 0%; left: 5%; width: 90%; padding: 60% 0 0 0; color: #FFF; }
.tituloLobao h2 { font-family: 'tall_filmsregular'; text-transform: uppercase; font-size: 180px; line-height: 70%; }
.tituloLobao p { font-family: 'bebas_neuebold'; font-size: 40px; line-height: 70%; }

.fraseLobao { padding: 5%; }
.fraseLobao span { display: block; margin-bottom: 20px; text-transform: uppercase; font-family: 'brandon_grotesqueblack'; text-transform: uppercase;  font-size: 12px; }
.fraseLobao p {font-family: 'bebas_neuebold'; font-size: 30px; }

.boxTextoLobao { background: url(../img/microfone-lobao/bg_texto.jpg) top center; background-size: 100%; }
.bgTextoLobao { background: url(../img/microfone-lobao/bg_texto_transparente.png); width: 90%; margin: 0 5%; padding: 5%; }
.textoLobao { height: 175px; margin-bottom: 30px; overflow: auto; padding-right: 30px; background: url('../img/seta-texto.png') top right no-repeat; background-size: 15px; font-family: 'brandon_grotesquemedium' }
.textoLobao h2 { color: #fff;  text-transform: uppercase; margin-bottom: 30px; font-size: 16px; }
.textoLobao p { color: #fff; font-size: 20px;  }
.textoLobao h3 { color: #fff; }
.videoLobao { margin-bottom: 10px; }
.videoLobao img { float: right; }

.faixasLobao { background: url(../img/microfone-lobao/bg_faixas.jpg) top center; background-size: 100%; padding: 5%; }
.faixasLobao h2 { font-family: 'bebas_neuebold'; font-size: 35px; }
.faixasLobao h3 { font-family: 'brandon_grotesquemedium'; font-size: 20px; line-height: 100%; margin-bottom: 20px; }
.faixasLobao p { font-family: 'bebas_neuebold'; font-size: 20px; }

@media screen and (min-width: 767px) {
	.tituloLobao h2 { font-size: 380px; }
	.tituloLobao p { font-size: 80px; }
	.textoLobao { height: 470px; }
	.faixasLobao h2 { font-size: 60px; }
	.faixasLobao h3 { font-size: 30px; }
	.faixasLobao p { font-size: 30px; }
}

/* playground */
.tituloPlay { position: absolute; bottom: 4%; left: 5%; width: 90%; padding: 60% 0 0 0; color: #FFF; }
.tituloPlay span { display: block; }
.tituloPlay h2 { background: url(../img/playground/bg_h2_title_playground.png); font-family: 'bebas_neuebold'; text-transform: uppercase; float: right; font-size: 40px; padding: 0 5px 10px 5px; text-shadow: 3px 3px 3px #000; }
.tituloPlay p { background: url(../img/playground/bg_p_title_playground.png); font-family: 'bebas_neueregular'; text-transform: uppercase; float: left; font-size: 20px; padding: 0 5px 10px 5px; width: 98%; margin-top: -10px; }

.bgTextoPlay { background: url(../img/playground/bg_texto.jpg) top center; background-size: 100%; padding: 5%; }
.textoPlay { height: 380px; overflow: auto; padding-right: 30px; background: url('../img/seta-texto.png') top right no-repeat; background-size: 15px; }
.textoPlay p { font-family: 'brandon_grotesquemedium'; text-align: justify; font-size: 20px; line-height: 100%; }

.bgTextoPlay2 { background: #bcff00; padding: 5%; border-top: 10px solid #ffa740; }
.textoPlay2 { height: 380px; overflow: auto; padding-right: 30px; background: url('../img/seta-texto.png') top right no-repeat; background-size: 15px; }
.textoPlay2 p { font-family: 'brandon_grotesquemedium'; text-align: justify; font-size: 20px; line-height: 100%; }

.idadePlay { background: #ffa740; padding: 5%; overflow: hidden; }
.idadePlay h2 { background: #c86f28; font-size: 14px; text-transform: uppercase; box-shadow: 3px 3px 3px #000; padding: 2%; font-family: 'brandon_grotesquemedium';  border-radius: 5px; }
.idadePlay ul {}
.idadePlay ul li { width: 100%; display: block; overflow: hidden; padding: 2%;  border-radius: 5px; text-transform: uppercase; font-family: 'brandon_grotesquemedium'; }
.idadePlay ul li.bgEscuro { background: #c86f28; box-shadow: 3px 3px 3px #000; }
.idadePlay ul li p { float: left; width: 50%; }

.bgVerdeLimao { background: url(../img/playground/bg_footer.jpg) bottom center #bcff00 no-repeat; padding-top: 5%; background-size: 100%; }

@media screen and (min-width: 767px) {
	.tituloPlay { bottom: 30%; }
	.tituloPlay h2 { font-size: 80px; }
	.tituloPlay p { width: 80%; font-size: 29px; }
	.textoPlay { height: 475px; }
	.textoPlay2 { height: 430px;}
	.textoPlay p, .textoPlay2 p { font-size: 25px; }
	.idadePlay h2 { font-size: 30px; }
}

/* pet rock */
.logoPetRock { position: absolute; top: 0; left: 0; padding: 0 5%; margin: 4% 0; z-index: 9999; }
.imgPetRock { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; }
.boxPetRock01 { position: absolute; top: 40%; z-index: 999; padding: 0 5%; }
.boxPetRock01 p { color: #FFF; font-size: 12px; font-family: 'brandon_grotesquemedium'; }
.boxPetRock01 h2 { color: #FFF; font-size: 30px; font-family: 'bebas_neuebold'; display: inline-block; background: rgba(0,0,0,0.6); padding: 0 5px; }
.boxPetRock01 h3 { color: #FFF; font-size: 40px; font-family: 'bebas_neuebold'; display: inline-block; background: rgba(200,80,0,0.6); padding: 0 5px; }

.sliderPet { width: 100%; overflow: hidden; position: relative; }
.sliderPet .slider { overflow: hidden; }
.sliderPet .slider img { width: 100%; display: block; float: left; }

.sliderPet .controls {  }
.sliderPet .controls a { position: absolute; width: 15%; height: 100%; display: block; text-indent: -9999px; overflow: hidden; }
.sliderPet .controls a.prev { top: 0; left: 0; background: url('../img/arrow_left.png') center no-repeat; background-size: 25%; }
.sliderPet .controls a.next { top: 0; right: 0; background: url('../img/arrow_right.png') center no-repeat; background-size: 25%; }

.bgPatinhas01 { background: url('../img/pet-rock/bg-pegadas-01.png') center no-repeat; background-size: 100%; }
.bgPatinhas02 { background: url('../img/pet-rock/bg-pegadas-02.png') center no-repeat; background-size: 100%; }

.boxPetRock02 { padding: 10% 0; }
.boxPetRock02 h3 { color: #fff799; font-size: 22px; font-family: 'bebas_neuebold'; }
.textoPetRock { width: 100%; height: 280px; overflow: auto; margin: 5% 0 0 0; padding-right: 30px; background: url('../img/seta-texto.png') top right no-repeat; background-size: 5%; }
.textoPetRock h3 { color: #FFF; font-size: 20px; font-family: 'bebas_neuebold'; line-height: 125%; text-align: justify; margin-bottom: 3%; }
.textoPetRock p { color: #FFF; font-size: 16px; font-family: 'brandon_grotesquemedium'; line-height: 125%; text-align: justify; margin-bottom: 3%; }
.textoPetRock strong { color: #FFF; font-size: 16px; font-family: 'brandon_grotesquemedium'; line-height: 125%; text-align: justify; }

@media screen and (min-width: 767px) {

	.boxPetRock01 p { font-size: 20px; }
	.boxPetRock01 h2 { font-size: 50px; }
	.boxPetRock01 h3 { font-size: 70px; }

	.boxPetRock02 h3 { font-size: 35px; }

	.textoPetRock h3 { font-size: 30px; }
	.textoPetRock p { font-size: 22px; }
	.textoPetRock strong { font-size: 22px;  }

	.textoPetRock { background-size: 3%; }
}

/* Premier - Charming Liars */
.tituloCharming { position: absolute; bottom: 22%; left: 5%; width: 90%; padding: 60% 0 0 0; }
.tituloCharming span { font-size: 15px; line-height: 100%; text-transform: uppercase; color: #000; font-family: 'brandon_grotesquemedium'; }
.tituloCharming h2 { font-size: 55px; line-height: 100%; text-transform: uppercase; color: #ed1c24; font-family: 'bebas_neuebold'; }
.tituloCharming h3 { font-size: 30px; line-height: 100%; text-transform: uppercase; color: #74a0b8; font-family: 'bebas_neuebold'; }
.tituloCharming p { font-size: 21px; line-height: 100%; text-transform: uppercase; color: #000; font-family: 'bebas_neueregular'; }

.textoCharming { height: 380px; overflow: auto; padding-right: 30px; margin-top: 50px; background: url('../img/seta-texto2.png') top right no-repeat; background-size: 15px; margin-bottom: 50px;  }
.textoCharming p { color: #000; font-size: 20px; line-height: 100%; margin-bottom: 20px; font-family: 'brandon_grotesquemedium'; text-align: justify; }

.boxVideoCharming { padding: 5%; }

.bgCharming { background: url(../img/premier-charming-liars/bg_footer.jpg) no-repeat; background-size: 100%;  padding-top: 174px; }



@media screen and (min-width: 767px) {
	.tituloCharming h2 { font-size: 110px;}
	.tituloCharming h3 { font-size: 55px; margin-bottom: 80px; }
	.tituloCharming p{ font-size: 37px; }
	.textoCharming { height: 395px; }
	.textoCharming p { font-size: 28px; }
	.bgCharming { padding-top: 444px; }
}

/* plugado */
.logoPlugado { position: absolute; top: 0; left: 0; padding: 0 5%; margin: 4% 0; z-index: 9999; }
.imgPlugado { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; }

.bgPlugado { background: url('../img/plugado/bg-plugado.jpg') bottom center no-repeat; background-size: 100%; }

.boxPlugado01 { position: absolute; top: 40%; width: 100%; z-index: 999; padding: 0 5%; text-align: right; }
.boxPlugado01 p { color: #FFF; font-size: 12px; font-family: 'brandon_grotesquemedium'; }
.boxPlugado01 h2 { color: #FFF; font-size: 45px; font-family: 'bebas_neuebold'; line-height: 90%; text-shadow: 3px 3px 5px rgba(0,0,0,0.75); }
.boxPlugado01 h3 { color: #FFF; font-size: 35px; font-family: 'bebas_neuebold'; text-shadow: 3px 3px 5px rgba(0,0,0,0.75); }

.boxPlugado02 { padding: 10% 0; }
.boxPlugado02 img { display: block; margin: 10% 0; }
.textoPlugado { width: 100%; height: 180px; overflow: auto; padding-right: 30px; background: url('../img/seta-texto3.png') top right no-repeat; background-size: 5%; }
.textoPlugado p { color: #00ff00; font-size: 20px; font-family: 'brandon_grotesquemedium'; line-height: 125%; text-align: justify; }

@media screen and (min-width: 767px) {

	.boxPlugado01 p { font-size: 20px; }
	.boxPlugado01 h2 { font-size: 95px; }
	.boxPlugado01 h3 { font-size: 75px; line-height: 90%; }

	.textoPlugado { background-size: 3%; }
	.textoPlugado p { font-size: 30px; }

}

/* premier preto massa */
.logoPretoMassa { position: absolute; top: 0; left: 0; padding: 0 5%; margin: 4% 0; z-index: 9999; }
.imgPretoMassa { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; }

.bgPretoMassa { background: url('../img/premier-preto-massa/bg-preto-massa-01.jpg') center no-repeat; background-size: 200%; padding-top: 5%; padding-bottom: 5%; }

.boxPretoMassa01 { position: absolute; bottom: 5%; width: 100%; z-index: 999; padding: 0 5%; text-align: center; }
.boxPretoMassa01 h2 { color: #FFF; font-size: 35px; font-family: 'bebas_neuebold'; line-height: 90%; }
.boxPretoMassa01 img { width: 100%; }
.boxPretoMassa01 p { color: #FFF; font-size: 12px; font-family: 'brandon_grotesquemedium'; }

.boxPretoMassa02 { margin: 5% 0; }

.textoPretoMassa { width: 100%; height: 500px; overflow: auto; padding-right: 30px; background: url('../img/seta-texto.png') top right no-repeat; background-size: 5%; }
.textoPretoMassa h3 { color: #FFF; font-size: 22px; font-family: 'bebas_neuebold'; line-height: 120%; text-align: justify; margin-bottom: 3%; }
.textoPretoMassa p { color: #FFF; font-size: 20px; font-family: 'brandon_grotesquemedium'; line-height: 120%; text-align: justify; }

.boxPretoMassa03 {  }
.boxPretoMassa03 img { width: 100%; display: block; }

.boxPretoMassa04 { margin: 5%; }
.boxPretoMassa04 p { color: #000; font-size: 20px; font-family: 'bebas_neuebold'; line-height: 120%; text-align: center; margin-bottom: 20px; }
.boxPretoMassa04 img { width: 100%; display: block; }

@media screen and (min-width: 767px) {

	.boxPretoMassa01 h2 { font-size: 55px; }
	.boxPretoMassa01 p { font-size: 16px; }

	.textoPretoMassa { height: 600px; background-size: 3%; }
	.textoPretoMassa h3 { font-size: 30px; }
	.textoPretoMassa p { font-size: 30px; }

}

/* rock movie */
.tituloRockMovie { position: absolute; bottom: 2%; left: 0; width: 100%; }
.tituloRockMovie div { background: url(../img/rock-movie/bg_title_rock_movie.png); -moz-transform: rotate(-7deg) skewX(-7deg); -webkit-transform: rotate(-7deg) skewX(-7deg); -o-transform: rotate(-7deg) skewX(-7deg); -ms-transform: rotate(-7deg) skewX(-7deg); transform: rotate(-7deg) skewX(-7deg); padding: 2% 5%; }
.tituloRockMovie div h2 { color: #00ff00; text-transform: uppercase; font-family: 'bebas_neuebold'; line-height: 100%; font-size: 48px; }
.tituloRockMovie div p { color: #fff; text-transform: uppercase; font-family: 'brandon_grotesquebold'; font-size: 11px; }
.tituloRockMovie span { color: #bf5aff; font-family: 'brushtip-cbrushtip-c'; display: block; text-align: right; font-size: 40px; text-shadow: 3px 3px 3px #000; }

.boxRockMovie { background: url(../img/rock-movie/bg_conteudo_rock_movie.jpg); background-size: 100%; padding: 5% 0;  }
.boxRockMovie .chamada { text-transform: uppercase; font-family: 'bebas_neuebold'; margin-bottom: 5%; }
.RockMovie .RockMovie { margin-bottom: 20px; }
.RockMovie figure { position: relative; overflow: hidden; border: 5px solid #00ff00; }
.RockMovie figure img { display: block; }
.RockMovie .textoRockMovie { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 3% 3%; background: rgba(255,255,255,0.8); font-size: 16px; line-height: 120%; text-align: justify; font-family: 'brandon_grotesquemedium';  overflow: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
.RockMovie .textoRockMovie article { padding-right: 30px; background: url('../img/seta-texto2.png') top right no-repeat; background-size: 5%; color: #636363; }
.RockMovie .textoRockMovie article h2 { text-transform: uppercase; font-size: 20px; }
.RockMovie .textoRockMovie article h3 { font-size: 20px; }
.RockMovie .textoRockMovie article p {  font-size: 20px; }
.RockMovie .textoRockMovie article p a { color: #636363; }
.RockMovie figcaption { color: #000; font-family: 'brushtip-cbrushtip-c'; font-size: 30px; line-height: 70%; margin-top: 20px;  text-align: center; margin-bottom: 30px; }
.RockMovie figcaption span { display: block; font-family: 'brandon_grotesquebold'; text-transform: uppercase;  font-size: 14px; }

@media screen and (min-width: 767px) {
	.tituloRockMovie div h2 { font-size: 100px; }
	.tituloRockMovie div p { font-size: 17px; }
	.boxRockMovie .chamada { font-size: 40px; }
	.RockMovie .textoRockMovie article h2 {  font-size: 30px; line-height: 130%; }
	.RockMovie .textoRockMovie article h3 { font-size: 30px; line-height: 130%; }
	.RockMovie .textoRockMovie article p {  font-size: 30px; line-height: 120%; }
	.RockMovie figcaption { font-size: 50px; margin-top: 40px; }
	.RockMovie figcaption span { font-size: 25px; }
}

/* rock cook */
.logoRockCook { position: absolute; top: 0; left: 0; padding: 0 5%; margin: 4% 0; z-index: 9999; }
.imgRockCook { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; }

.bgRockCook { background: url('../img/rock-cook/bg-rock-cook-01.jpg') center no-repeat; background-size: 180%; padding-top: 5%; padding-bottom: 5%; }

.boxRockCook01 { position: absolute; bottom: 8%; width: 100%; z-index: 999; padding: 0 5%; }
.boxRockCook01 h2 { color: #FFF; font-size: 35px; font-family: 'bebas_neuebold'; line-height: 90%; text-shadow: 2px 2px 2px rgba(0,0,0,0.75); margin-bottom: 2%; }
.boxRockCook01 h2 span { display: block; color: #FFF; font-size: 45px; font-family: 'bebas_neuebold'; line-height: 90%; }
.boxRockCook01 h3 { color: #FFF; font-size: 18px; font-family: 'bebas_neuebold'; line-height: 100%; text-shadow: 2px 2px 1px rgba(0,0,0,0.75); margin-bottom: 2%; }
.boxRockCook01 p { color: #FFF; font-size: 12px; font-family: 'brandon_grotesquemedium'; }

.boxReceita {  }
.boxReceita figure { position: relative; margin-bottom: 2%; }
.boxReceita figure img { width: 100%; display: block; }
.boxReceita figure figcaption { position: absolute; bottom: 0; }
.boxReceita figure .left { left: 0; }
.boxReceita figure .right { right: 0; }

.boxReceita figure .titRec { bottom: 5%; left: 3%; width: 50%; }
.boxReceita figure .titRec h3 { font-size: 20px; font-family: 'bebas_neuebold'; line-height: 100%; color: #f89a1c; }
.boxReceita figure .txtRec { background: rgba(102,102,102,0.6); padding: 2% 4%; }
.boxReceita figure .txtRec p { color: #FFF; font-size: 18px; font-family: 'brandon_grotesquemedium'; }
.boxReceita .preparo { background: #1f2d1e; color: #FFF; padding: 10% 5%; }
.boxReceita .preparo h2 { font-size: 30px; font-family: 'bebas_neuebold'; margin-bottom: 3%; text-align: center; }
.boxReceita .preparo ul { margin-left: 8%; }
.boxReceita .preparo ul li {  font-size: 20px; font-family: 'brandon_grotesquemedium'; }

.boxRockCook02 { background: rgba(0,0,0,0.6); padding: 5%; }

.boxRockCook02 h3 { font-size: 35px; font-family: 'bebas_neuebold'; color: #FFF; margin-bottom: 5%; }

.textoRockCook { width: 100%; height: 200px; overflow: auto; padding-right: 30px; background: url('../img/seta-texto.png') top right no-repeat; background-size: 5%; margin-bottom: 5%; }
.textoRockCook p { color: #FFF; font-size: 20px; font-family: 'brandon_grotesquemedium'; line-height: 125%; text-align: justify; }

@media screen and (min-width: 767px) {

	.bgRockCook { background-size: 100%; }

	.boxRockCook01 h2 { font-size: 50px; }
	.boxRockCook01 h2 span { font-size: 70px; }
	.boxRockCook01 h3 { font-size: 28px; }
	.boxRockCook01 p { font-size: 14px;  }

	.boxReceita figure .titRec h3 { font-size: 40px; }
	.boxReceita figure .txtRec p { font-size: 23px; }

	.boxReceita .preparo h2 { font-size: 50px; }
	.boxReceita .preparo ul li {  font-size: 25px; }

	.boxRockCook02 { width: 60%; }
	.textoRockCook { height: 500px; background-size: 5%; }


}

/* rock style */
.logoRockStyle { position: absolute; top: 0; left: 0; padding: 0 5%; margin: 4% 0; z-index: 9999; }
.imgRockStyle { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; }

.boxRockStyle01 { position: absolute; bottom: 25%; left: 0; padding: 0 5%; }
.boxRockStyle01 h2 { font-size: 35px; font-family: 'bebas_neuebold'; color: #FFF; line-height: 100%; margin-bottom: 3%; text-shadow: 2px 2px 2px rgba(0,0,0,0.75); }
.boxRockStyle01 h2 span { font-size: 45px; color: #fbb900; display: block; }
.boxRockStyle01 h3 { font-size: 18px; font-family: 'bebas_neuebold'; color: #FFF; text-shadow: 2px 2px 2px rgba(0,0,0,0.75); }

.textoSlide { position: absolute; top: 15%; left: 50%; margin-left: -35%; width: 70%; height: 70%; overflow: auto; background: rgba(0,0,0,0.6); padding: 5%; color: #FFF; }
.textoSlide:before { content: "X"; position: absolute; top: 2%; right: 2%; color: #FFF; }
.textoSlide p { font-size: 16px; font-family: 'brandon_grotesquemedium'; margin-bottom: 3%; }

@media screen and (min-width: 767px) {

	.boxRockStyle01 h2 { font-size: 40px; }
	.boxRockStyle01 h2 span { font-size: 55px; }
	.boxRockStyle01 h3 { font-size: 30px; }

	.textoSlide { top: 25%; left: 50%; margin-left: -25%; width: 50%; height: 50%; }
	.textoSlide	p { font-size: 20px; }

}

/* temos vagas */
.bgTemosVagas { background: url('../img/temos-vagas/bg-temos-vagas.jpg') top center no-repeat; background-size: 120%; padding-top: 1px; margin-bottom: 15%; }
.logoTemosVagas { margin: 4% 0; }


.boxTemosVagas01 {  }
.boxTemosVagas01 h2 { font-size: 40px; font-family: 'bebas_neuebold'; color: #ff0000; margin-bottom: 3%; }
.boxTemosVagas01 h2 span { font-size: 35px; display: block; }
.boxTemosVagas01 h3 { font-size: 21px; font-family: 'bebas_neuebold'; color: #FFF; text-align: justify; }

.boxTemosVagas01 .videoTemosVagas { box-shadow: 3px 3px 3px rgba(0,0,0,0.75); margin-bottom: 5%; }
.boxTemosVagas01 .videoTemosVagas img { width: 100%; display: block; }

.boxTemosVagas01 .textoVagas { margin-top: 20%; width: 100%; height: 450px; overflow: auto; padding: 3%; padding-right: 30px; background: url('../img/seta-texto.png')  rgba(0,0,0,0.6) top right no-repeat; background-size: 5%; background-position: 97% 3%; margin-bottom: 5%; text-align: justify; }
.boxTemosVagas01 .textoVagas p { font-size: 20px; font-family: 'brandon_grotesquemedium'; color: #FFF; margin-bottom: 3%; }

@media screen and (min-width: 767px) {

	.bgTemosVagas { background-size: 100%; padding-bottom: 1px; }

	.boxTemosVagas01 h2 { font-size: 85px; line-height: 80%; }
	.boxTemosVagas01 h2 span { font-size: 65px; }
	.boxTemosVagas01 h3 { font-size: 35px; }


	.boxTemosVagas01 .textoVagas { margin-top: 50%; margin-bottom: 20%; height: 400px; background-size: 2%; background-position: 99% 4%; }
	.boxTemosVagas01 .textoVagas p { font-size: 23px; }


}

/* top list */
.bgTopList01 { background: url('../img/top-list/img-top-list-01.jpg') top center no-repeat; background-size: 110%; padding-top: 1px; padding-bottom: 2%; }
.bgTopList02 { background: url('../img/top-list/bg-top-list-01.jpg') #b76d4c center center no-repeat; background-size: 150%; padding-top: 5%; padding-bottom: 5%; }
.bgTopListAzul { background: #455169; padding-top: 5%; padding-bottom: 5%; }
.bgTopListMarromDiferente { background: #b76d4c; padding-top: 5%; padding-bottom: 5%; }

.logoTopList { margin: 4% 0; }

.boxTopList01 { margin-top: 40%; }
.boxTopList01 p { font-size: 12px; font-family: 'brandon_grotesquemedium'; color: #FFF; }
.boxTopList01 h2 { font-size: 50px; font-family: 'bebas_neuebold'; color: #b76d4c; line-height: 80%; text-shadow: 2px 2px 5px rgba(0,0,0,0.50); }
.boxTopList01 h3 { font-size: 40px; font-family: 'bebas_neuebold'; color: rgba(255,255,255,0.7); line-height: 80%; text-shadow: 2px 2px 3px rgba(0,0,0,0.50); }

.boxTopList02 h3 { font-size: 20px; font-family: 'bebas_neuebold'; color: #fff200; margin-bottom: 5%; }
.boxTopList02 .topList { width: 100%; margin: 0 auto; color: #fff200; }
.boxTopList02 .topList p { font-size: 18px; font-family: 'bebas_neuebold'; }
.boxTopList02 img { display: block; margin-top: 5%; }

.boxTopList03 h2 { font-size: 40px; line-height: 100%; font-family: 'bebas_neuebold'; color: #fff200; }
.boxTopList03 legend { font-size: 16px; font-family: 'brandon_grotesquemedium'; display: block; margin-bottom: 5%; color: #FFF; line-height: 120%; }

.bandasTop figure { position: relative; overflow: hidden; }
.bandasTop figure img { display: block; }
.bandasTop figure .textoBandas { position: absolute; top: 5%; left: 5%; width: 90%; max-height: 90%; padding: 15% 5%; background: rgba(0,0,0,0.8); overflow: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
.bandasTop figure .textoBandas:before { content: "X"; position: absolute; top: 5px; right: 5px; color: #FFF; display: block; border: 2px solid #FFF; border-radius: 100%; width: 30px; height: 30px; line-height: 28px; text-align: center; }
.bandasTop figure .textoBandas h3 { font-size: 22px; line-height: 120%; font-family: 'bebas_neuebold'; color: #fff200; margin-top: 4%; }
.bandasTop figure .textoBandas p { font-size: 18px; line-height: 120%; text-align: justify; font-family: 'brandon_grotesquemedium'; color: #FFF; }
.bandasTop figure .textoBandas p span { font-size: 18px; line-height: 120%; text-align: justify; font-family: 'brandon_grotesquemedium'; color: #fff200; display: inline-block; margin-top: 5%; }
.bandasTop figure .textoBandas a { font-size: 12px; font-family: 'brandon_grotesquemedium'; background-color: #fff200; text-decoration: none; color: #000; padding: 5px 10px 5px 10px; display: inline-block; margin-top: 1%; }
.bandasTop figcaption { color: #FFF; font-family: 'brandon_grotesquemedium'; font-size: 12px; }

@media screen and (min-width: 767px) {

	.bgTopList02 { background: url('../img/top-list/bg-top-list-01.jpg') #b76d4c center center no-repeat; background-size: 100%; padding-top: 5%; padding-bottom: 5%; }


	.boxTopList01 p { font-size: 18px; }
	.boxTopList01 h2 { font-size: 70px; }
	.boxTopList01 h3 { font-size: 60px; }

	.boxTopList02 h3 { font-size: 35px; }
	.boxTopList02 .topList { width: 80%; }
	.boxTopList02 .topList p { font-size: 30px; }
	.boxTopList02 img { width: 40%; display: block; margin: 5% auto 0; }

	.boxTopList03 h2 { font-size: 75px; }
	.boxTopList03 legend { font-size: 16px; }

	.bandasTop figure .textoBandas { padding: 5%; }
	.bandasTop figure .textoBandas h3 { font-size: 30px; }
	.bandasTop figure .textoBandas p { font-size: 22px; }
	.bandasTop figure .textoBandas p span { font-size: 22px; }
	.bandasTop figure .textoBandas a { font-size: 15px; margin-top: 2%; }



}







